Source: openmediavault-transmissionbt
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>> 9)
Standards-Version: 3.9.3
Homepage: http://omv-extras.org

Package: openmediavault-transmissionbt
Architecture: all
Depends: openmediavault (>= 1.0.1), transmission-daemon, transmission-cli, ${misc:Depends}
Priority: optional
Description: OpenMediaVault Transmission (BitTorrent client) plugin
 Transmission is a simple BitTorrent client that features a very simple and
 intuitive interface.
